.players-table {
    border-collapse: collapse;
    border: 1px solid #4b4b4b;
    border-radius: 15px;
}

.header-cell {
    border: 1px solid;
    min-width: 80px;
    padding: 5px;
}

.cell {
    border: 1px solid;
    text-align: center;
}

.cell-small {
    min-width: auto;
}

.active-pagination-button {
    color: #7f0c0c;
}

.hidden {
    visibility: hidden;
}

.field {
    margin-top: 24px;
    width: 350px;
    padding: 16px;
    border: 1px solid black;
    border-radius: 15px;
    box-sizing: border-box;
}

.create-field {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: baseline;
    margin-bottom: 8px;
}

.input {
    padding: 8px;
    border: 1px solid black;
    border-radius: 5px;
}

.accounts-per-page-wrapper {
    margin-bottom: 8px;
}

.pagination-wrapper {
    margin-top: 8px;
}

button {
    border: none;
    background: transparent;
    cursor: pointer;
}

.save-button {
    border: 1px solid cadetblue;
    border-radius: 5px;
    background: aqua;
    padding: 8px;
    width: 100%;
    font-size: 24px;
    font-weight: 500;
}

select {
    padding: 8px;
}

label {
    font-weight: 500;
}

.header-cell {
    background: #92f694;
}