.players-table {
    border: 1px solid black;
}

.header-cell {
    border: 1px solid;
    min-width: 80px;
    padding: 5px;
}

.cell {
    border: 1px solid;
    text-align: center;
}


.cell-small {
    min-width: auto;
}

.active-pagination-button {
    color: #7f0c0c;
}